
body {
    font-family: 'Nunito Sans';
    overflow-x: hidden;
}
.header .navbar {
    background-color: white;
    color: black;
}
.main-content .banner{
    background-image: url('../img/banner.png');
    background-size: cover;
    border-radius: 25px;

}
.main-content .banner h1{
    color: white;
    font-weight: revert;
    text-shadow: 5px 5px 15px #80808026;
}
.main-content .banner p{
    color: white;
    text-shadow: 5px 5px 15px #80808026;
}
.main-content .banner div{
    place-self: center;
}
.card-fitur h4{
    font-weight: 700;
    color: rgb(43, 43, 43);
}
.card-fitur h6{
    text-transform: uppercase;
    background: linear-gradient(to right, #2cfeff 0%, #ff12ed 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900;
}
.card-fitur .card{
    border: none;
    box-shadow: 4px 5px 20px 2px #88888817;
}
.footer{
    height: 50px;
    padding: 10px;
    background-color: rgb(39, 39, 39);
}
.footer p{
    color: white;
    text-align: center;
}